<?xml version="1.0"?>
<config>
    <modules>
        <HusseyCoding_EvolvedCaching>
            <version>1.9.21</version>
        </HusseyCoding_EvolvedCaching>
    </modules>
    <global>
        <cache>
            <types>
                <evolved translate="label description" module="core">
                    <label>Evolved Caching</label>
                    <description>Full page caching.</description>
                    <tags>EVOLVED</tags>
                </evolved>
            </types>
        </cache>
        <blocks>
            <evolvedcaching>
                <class>HusseyCoding_EvolvedCaching_Block</class>
            </evolvedcaching>
        </blocks>
        <helpers>
            <evolvedcaching>
                <class>HusseyCoding_EvolvedCaching_Helper</class>
            </evolvedcaching>
        </helpers>
        <models>
            <evolvedcaching>
                <class>HusseyCoding_EvolvedCaching_Model</class>
                <resourceModel>evolvedcaching_mysql4</resourceModel>
            </evolvedcaching>
            <evolvedcaching_mysql4>
                <class>HusseyCoding_EvolvedCaching_Model_Mysql4</class>
                <entities>
                    <evolved_caching>
                        <table>evolved_caching</table>
                    </evolved_caching>
                    <evolved_warming>
                        <table>evolved_warming</table>
                    </evolved_warming>
                    <evolved_crawler>
                        <table>evolved_crawler</table>
                    </evolved_crawler>
                </entities>
            </evolvedcaching_mysql4>
            <tax>
                <rewrite>
                    <calculation>HusseyCoding_EvolvedCaching_Model_TaxCalculation</calculation>
                </rewrite>
            </tax>
            <core>
                <rewrite>
                    <store>HusseyCoding_EvolvedCaching_Model_CoreStore</store>
                    <design_package>HusseyCoding_EvolvedCaching_Model_Design_CorePackage</design_package>
                </rewrite>
            </core>
        </models>
        <resources>
            <evolvedcaching_setup>
                <setup>
                    <module>HusseyCoding_EvolvedCaching</module>
                    <resourceModel>husseycoding_evolvedcaching_mysql4</resourceModel>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </evolvedcaching_setup>
            <evolvedcaching_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </evolvedcaching_write>
            <evolvedcaching_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </evolvedcaching_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <evolvedcaching>
                    <file>evolvedcaching.xml</file>
                </evolvedcaching>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <frontend_core_block_abstract_to_html_after_evolvedcaching>
                        <class>evolvedcaching/observer_render_generate_before_addBlocksData</class>
                        <method>frontendCoreBlockAbstractToHtmlAfter</method>
                    </frontend_core_block_abstract_to_html_after_evolvedcaching>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <frontend_controller_action_layout_generate_blocks_after_evolvedcaching>
                        <class>evolvedcaching/observer_render_generate_after_renderDynamic</class>
                        <method>frontendControllerActionLayoutGenerateBlocksAfter</method>
                    </frontend_controller_action_layout_generate_blocks_after_evolvedcaching>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <customer_login>
                <observers>
                    <frontend_customer_login_evolvedcaching>
                        <class>evolvedcaching/observer_customer</class>
                        <method>frontendCustomerLogin</method>
                    </frontend_customer_login_evolvedcaching>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <frontend_customer_logout_evolvedcaching>
                        <class>evolvedcaching/observer_customer</class>
                        <method>frontendCustomerLogout</method>
                    </frontend_customer_logout_evolvedcaching>
                </observers>
            </customer_logout>
            <customer_address_save_after>
                <observers>
                    <frontend_customer_address_save_after_evolvedcaching>
                        <class>evolvedcaching/observer_customer</class>
                        <method>frontendCustomerAddressSaveAfter</method>
                    </frontend_customer_address_save_after_evolvedcaching>
                </observers>
            </customer_address_save_after>
            <catalog_controller_product_init>
                <observers>
                    <frontend_catalog_controller_product_init_evolvedcaching>
                        <class>evolvedcaching/observer_customer</class>
                        <method>frontendCatalogControllerProductInit</method>
                    </frontend_catalog_controller_product_init_evolvedcaching>
                </observers>
            </catalog_controller_product_init>
            <http_response_send_before>
                <observers>
                    <frontend_http_response_send_before_evolvedcaching>
                        <class>evolvedcaching/observer_render_redirectArguments</class>
                        <method>frontendHttpResponseSendBefore</method>
                    </frontend_http_response_send_before_evolvedcaching>
                </observers>
            </http_response_send_before>
            <controller_action_predispatch>
                <observers>
                    <frontend_controller_action_predispatch_evolvedcaching>
                        <class>evolvedcaching/observer_render_bigPipe_firstFlush</class>
                        <method>frontendControllerActionPredispatch</method>
                    </frontend_controller_action_predispatch_evolvedcaching>
                </observers>
            </controller_action_predispatch>
            <evolved_caching_bigpipe_flush>
                <observers>
                    <frontend_evolved_caching_bigpipe_flush_evolvedcaching>
                        <class>evolvedcaching/observer_render_bigPipe_dynamicFlush</class>
                        <method>frontendEvolvedCachingBigpipeFlush</method>
                    </frontend_evolved_caching_bigpipe_flush_evolvedcaching>
                </observers>
            </evolved_caching_bigpipe_flush>
        </events>
        <routers>
            <evolvedcaching>
                <use>standard</use>
                <args>
                    <module>HusseyCoding_EvolvedCaching</module>
                    <frontName>evolvedcaching</frontName>
                </args>
            </evolvedcaching>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <evolvedcaching>
                    <file>evolvedcaching.xml</file>
                </evolvedcaching>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch_adminhtml_cache_massRefresh>
                <observers>
                    <adminhtml_controller_action_postdispatch_adminhtml_cache_massRefresh_evolvedcaching>
                        <class>evolvedcaching/observer_flush</class>
                        <method>adminhtmlControllerActionPostdispatchAdminhtmlCacheMassRefresh</method>
                    </adminhtml_controller_action_postdispatch_adminhtml_cache_massRefresh_evolvedcaching>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_massRefresh>
            <controller_action_postdispatch_adminhtml_cache_flushSystem>
                <observers>
                    <adminhtml_controller_action_postdispatch_adminhtml_cache_flushSystem_evolvedcaching>
                        <class>evolvedcaching/observer_flush</class>
                        <method>adminhtmlControllerActionPostdispatchAdminhtmlCacheFlushSystem</method>
                    </adminhtml_controller_action_postdispatch_adminhtml_cache_flushSystem_evolvedcaching>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_flushSystem>
            <controller_action_postdispatch_adminhtml_cache_flushAll>
                <observers>
                    <adminhtml_controller_action_postdispatch_adminhtml_cache_flushAll_evolvedcaching>
                        <class>evolvedcaching/observer_flush</class>
                        <method>adminhtmlControllerActionPostdispatchAdminhtmlCacheFlushAll</method>
                    </adminhtml_controller_action_postdispatch_adminhtml_cache_flushAll_evolvedcaching>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_flushAll>
            <clean_catalog_images_cache_after>
                <observers>
                    <adminhtml_clean_catalog_images_cache_after_evolvedcaching>
                        <class>evolvedcaching/observer_flush</class>
                        <method>adminhtmlCleanCatalogImagesCacheAfter</method>
                    </adminhtml_clean_catalog_images_cache_after_evolvedcaching>
                </observers>
            </clean_catalog_images_cache_after>
            <clean_media_cache_after>
                <observers>
                    <adminhtml_clean_media_cache_after_evolvedcaching>
                        <class>evolvedcaching/observer_flush</class>
                        <method>adminhtmlCleanMediaCacheAfter</method>
                    </adminhtml_clean_media_cache_after_evolvedcaching>
                </observers>
            </clean_media_cache_after>
            <core_collection_abstract_load_after>
                <observers>
                    <adminhtml_core_collection_abstract_load_after_evolvedcaching>
                        <class>evolvedcaching/observer_entries</class>
                        <method>adminhtmlCoreCollectionAbstractLoadAfter</method>
                    </adminhtml_core_collection_abstract_load_after_evolvedcaching>
                </observers>
            </core_collection_abstract_load_after>
            <catalog_product_save_after>
                <observers>
                    <adminhtml_catalog_product_save_after_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlCatalogProductSaveAfter</method>
                    </adminhtml_catalog_product_save_after_evolvedcaching>
                </observers>
            </catalog_product_save_after>
            <catalog_product_save_commit_after>
                <observers>
                    <adminhtml_catalog_product_save_commit_after_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlCatalogProductSaveCommitAfter</method>
                    </adminhtml_catalog_product_save_commit_after_evolvedcaching>
                </observers>
            </catalog_product_save_commit_after>
            <catalog_category_save_after>
                <observers>
                    <adminhtml_catalog_category_save_after_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlCatalogCategorySaveAfter</method>
                    </adminhtml_catalog_category_save_after_evolvedcaching>
                </observers>
            </catalog_category_save_after>
            <catalog_category_save_commit_after>
                <observers>
                    <adminhtml_catalog_category_save_commit_after_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlCatalogCategorySaveCommitAfter</method>
                    </adminhtml_catalog_category_save_commit_after_evolvedcaching>
                </observers>
            </catalog_category_save_commit_after>
            <cms_page_save_after>
                <observers>
                    <adminhtml_cms_page_save_after_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlCmsPageSaveAfter</method>
                    </adminhtml_cms_page_save_after_evolvedcaching>
                </observers>
            </cms_page_save_after>
            <cms_page_save_commit_after>
                <observers>
                    <adminhtml_cms_page_save_commit_after_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlCmsPageSaveCommitAfter</method>
                    </adminhtml_cms_page_save_commit_after_evolvedcaching>
                </observers>
            </cms_page_save_commit_after>
            <admin_system_config_changed_section_evolvedcaching>
                <observers>
                    <adminhtml_admin_system_config_changed_section_evolvedcaching_evolvedcaching>
                        <class>evolvedcaching/observer_advisory</class>
                        <method>adminhtmlAdminSystemConfigChangedSectionEvolvedcaching</method>
                    </adminhtml_admin_system_config_changed_section_evolvedcaching_evolvedcaching>
                </observers>
            </admin_system_config_changed_section_evolvedcaching>
            <catalog_product_delete_before>
                <observers>
                    <adminhtml_catalog_product_delete_before_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlCatalogProductDeleteBefore</method>
                    </adminhtml_catalog_product_delete_before_evolvedcaching>
                </observers>
            </catalog_product_delete_before>
            <catalog_product_delete_commit_after>
                <observers>
                    <adminhtml_catalog_product_delete_commit_after_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlCatalogProductDeleteCommitAfter</method>
                    </adminhtml_catalog_product_delete_commit_after_evolvedcaching>
                </observers>
            </catalog_product_delete_commit_after>
            <cms_page_delete_before>
                <observers>
                    <adminhtml_cms_page_delete_before_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlCmsPageDeleteBefore</method>
                    </adminhtml_cms_page_delete_before_evolvedcaching>
                </observers>
            </cms_page_delete_before>
            <sales_order_creditmemo_refund>
                <observers>
                    <adminhtml_sales_order_creditmemo_refund_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlSalesOrderCreditmemoRefund</method>
                    </adminhtml_sales_order_creditmemo_refund_evolvedcaching>
                </observers>
            </sales_order_creditmemo_refund>
            <sales_order_place_after>
                <observers>
                    <adminhtml_sales_order_place_after_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlSalesOrderPlaceAfter</method>
                    </adminhtml_sales_order_place_after_evolvedcaching>
                </observers>
            </sales_order_place_after>
            <order_cancel_after>
                <observers>
                    <adminhtml_order_cancel_after_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlOrderCancelAfter</method>
                    </adminhtml_order_cancel_after_evolvedcaching>
                </observers>
            </order_cancel_after>
            <controller_action_postdispatch_adminhtml_catalog_product_massStatus>
                <observers>
                    <adminhtml_controller_action_postdispatch_adminhtml_catalog_product_massStatus_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlControllerActionPostdispatchAdminhtmlCatalogProductMassStatus</method>
                    </adminhtml_controller_action_postdispatch_adminhtml_catalog_product_massStatus_evolvedcaching>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_massStatus>
            <review_save_after>
                <observers>
                    <adminhtml_review_save_after_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlReviewSaveAfter</method>
                    </adminhtml_review_save_after_evolvedcaching>
                </observers>
            </review_save_after>
            <review_save_commit_after>
                <observers>
                    <adminhtml_review_save_commit_after_evolvedcaching>
                        <class>evolvedcaching/observer_auto</class>
                        <method>adminhtmlReviewSaveCommitAfter</method>
                    </adminhtml_review_save_commit_after_evolvedcaching>
                </observers>
            </review_save_commit_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <HusseyCoding_EvolvedCaching after="Mage_Adminhtml">HusseyCoding_EvolvedCaching</HusseyCoding_EvolvedCaching>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <evolvedcaching_warming>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>evolvedcaching/warming::warmCache</model>
                </run>
            </evolvedcaching_warming>
            <evolvedcaching_design>
                <schedule>
                    <cron_expr>5 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>evolvedcaching/designChange::cacheChanges</model>
                </run>
            </evolvedcaching_design>
        </jobs>
    </crontab>
    <default>
        <evolvedcaching>
            <general>
                <useajax>1</useajax>
            </general>
        </evolvedcaching>
    </default>
</config>